input[type="text"], input[type="password"]{
  color: #fff;
}

input[type="submit"]{
  color: #fff;
}

.cancelar{
  padding: 6px;
  margin-left: 10px;
  border-radius: 4px;
  background-color: #841515;
}