
.menu-itens{
  display:none;
  z-index: 999999;
  list-style: none;
  padding: 0px;
}

.menu-itens li{
  padding: 20px;
  border: 1px solid #ccc;
  margin: 2px
}

button{
  padding: 10px;
  position: absolute;
  top: 9px;
  right: 9px;
}

.openMenu{
  display: block;
}