#container {
  text-align: left;
  padding: 25px;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container h1{
  text-align: center;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

table{
  background-color: rgb(53, 53, 53);
}
table tr{
  padding: 10px;
}
table th{
  padding: 10px;
  background-color: rgb(29, 29, 29);
}
table td{
  padding: 10px;
}