<app-header></app-header>

<ion-content [fullscreen]="true">
  <app-menu></app-menu>
  <div id="container">
    <h1>Páginas</h1>
    <table>
      <thead>
        <tr>
          <th>Nome</th>
          <th>Restrita?</th>
          <th>Login?</th>
          <th>Home?</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pagina of paginas">
          <td>{{pagina.nome}}</td>
          <td>{{pagina.areaRestrita ? "Sim" : "Não"}}</td>
          <td>{{pagina.login ? "Sim" : "Não"}}</td>
          <td>{{pagina.home ? "Sim" : "Não"}}</td>
        </tr>
      </tbody>
    </table>

    <button (click)="maisItens()" *ngIf="maisItensPaginado">Carregar mais</button>
  </div>
</ion-content>
