<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      CMS do T.O.P.
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        CMS do T.O.P.
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <app-menu></app-menu>

    <h1>CMS</h1>
    Este é um sistema de treinamento do Torne-se um programador <a href="http://www.torneseumprogramador.com.br" target="_blank">http://www.torneseumprogramador.com.br</a>.
    <hr>
    <p><a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>
