<app-header></app-header>

<ion-content [fullscreen]="true">
  <app-menu></app-menu>
  <div id="container">

    <h1>CMS</h1>
    Este é um sistema de treinamento do Torne-se um programador <a href="http://www.torneseumprogramador.com.br" target="_blank">http://www.torneseumprogramador.com.br</a>.
    <hr>

    <button (click)="chamarCamera()" style="color:#fff;background: blue;padding: 20px;">Chamar camera</button>

    <br>
    <br>
    <br>
    ------------------------<br>
    <img src="{{imagem}}"><br>
    ------------------------
    <br>
    ------------------------<br>
    <div>{{imagem}}</div><br>
    ------------------------<br>
    <br>
    <br>
    <br>

    <p><a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>
